<h1>
	<%= @post.title %>
</h1>

<small>
	posted <%= time_ago_in_words(@post.created_at) %> ago
</small>

<p>
	<%= @post.body %>
</p>

<button><%= link_to 'edit', edit_post_path(@post) %></button>
<button><%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'are you sure?'} %></button>


<h4>Comments <span><%= @post.comments.count %></span></h4>

<p><%= render @post.comments %></p>
<%= render 'comments/form' %>
