<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css2?family=Roboto&display=swap' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
      <ul>
        <li><%= link_to 'Tumblr', root_path %></li>
        <li><%= link_to 'Posts', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
      </ul>
      <% if !user_signed_in? %>
        <button><%= link_to 'Log In', new_user_session_path %></button>
      <% end %>
    </div>

    <div>
    <% if current_page?(root_path) %>
      <h1>Post Feed</h1>
    <% elsif current_page?(about_path)%>
      <h1>About Page</h1>
    <% else %>
      <%= link_to 'back to welcome page', root_path %>
    <% end %>
    <% if user_signed_in? %>
      <button><%= link_to 'Create a new post', new_post_path %></button>
      <button><%= link_to 'Sign Out ', destroy_user_session_path, method: :delete %></button>
    <% end %>
    </div>

    <% flash.each do |name, msg|%>
      <% content_tag [:div, msg]%>
    <% end %>
    <%= yield %> 
    </div>
    
  </body>
</html>
